{% extends '@identity/account/layout.html.twig' %}

{% block title %}Account{% endblock %}

{% block account %}
    <div>
        account-id: {{ userViewData.id }} <br>
        email: {{ userViewData.email }} <br>
    </div>
{% endblock %}
