{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
<div class="container">
    <h1>Account</h1>
    <div class="row">
        <div class="col-9">
            {% block account %}
                <div>
                    <h1>Account</h1>


                </div>
            {% endblock %}
        </div>
        <div class="col-3">
            <button class="btn btn-primary">change password</button>
        </div>

    </div>
</div>
{% endblock %}
