{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
<div class="container">
    <h1>Account</h1>
    <div class="row">
        <div class="col-9">
            {% block account %}

            {% endblock %}
        </div>
        <div class="col-3">
            <div class="row">
                <button class="btn btn-primary">change password</button>
            </div>
            <hr>
            <div class="row">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeNameModal">
                    change name
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal ChangeName-->
<div class="modal fade" id="changeNameModal" tabindex="-1" role="dialog" aria-labelledby="changeNameLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeNameLabel">Change personal name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render(controller('ProAppointments\\IdentityAccess\\Infrastructure\\Symfony\\Controller\\ChangeNameController::changeNameAction')) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {#<button type="button" class="btn btn-primary">Save changes</button>#}
            </div>
        </div>
    </div>
</div>
{% endblock %}
