<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('var')
    ->exclude('extra')
    ->notPath('src/Kernel.php')
    ->notPath('public/index.php')
    ->notPath('config/bundles.php')
    ->notPath('config/bootstrap.php')
    ->notPath('config/preload.php')
    ->notPath('tests/bootstrap.php')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        //'@Symfony:risky' => true,
        'array_syntax' => ['syntax' => 'short'],
        'no_unused_imports' => true,
        'ordered_imports' => true,
        'declare_strict_types' => true,
        'fully_qualified_strict_types' => true,
        'native_function_invocation' => true,
        'single_space_after_construct' => true,
        'php_unit_method_casing' => false,
    ])
    ->setRiskyAllowed(true)
    ->setFinder($finder)
    ->setRiskyAllowed(true)
;
