#includes:
    #- vendor/phpstan/phpstan-phpunit/extension.neon
    #- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 7
    #autoload_files:
        #- bin/.phpunit/phpunit-6.5/vendor/autoload.php
    paths:
        - src
        - tests
        - proAppointments/Collaboration/src
        - proAppointments/IdentityAccess/src
        - proAppointments/Schedule/src

    ignoreErrors:
        #- '##'
        - '#Call to an undefined method ProAppointments\\IdentityAccess\\Domain\\Access\\RoleRepository::roleExist().#'



    excludes_analyse:
        - '*/vendor/*'
        - '*/Spec/*'
        - '*/Migrations/*'

        # REMOVE
        - 'proAppointments/IdentityAccess/src/Infrastructure/Persistence/Doctrine/Config/Type/DoctrineUserIdType.php'

        # issue #2
        - 'proAppointments/IdentityAccess/src/Domain/User/UserFactory.php'