#   UPDATE BASELINE FLE COMMAND
#   vendor/bin/phpstan analyse --level 7 --configuration phpstan.neon.dist --generate-baseline

includes:
    - phpstan-baseline.neon
    #- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 7
    bootstrapFiles:
        - bin/.phpunit/phpunit-7.5-0/vendor/autoload.php
    paths:
        - src
        - tests
        - proAppointments/Collaboration/src
        - proAppointments/IdentityAccess/src
        - proAppointments/Schedule/src

    ignoreErrors:
        #- '##'
        #- '#Call to an undefined method ProAppointments\\IdentityAccess\\Domain\\Access\\RoleRepository::roleExist().#'
        #- '#Method ProAppointments\\IdentityAccess\\Infrastructure\\Persistence\\Doctrine\\DoctrineRoleRepository::ofId\(\) should return ProAppointments\\IdentityAccess\\Domain\\Access\\Role but returns ProAppointments\\IdentityAccess\\Domain\\Access\\Role|null.#'



    excludes_analyse:
        - '*/vendor/*'
        - '*/Spec/*'
        - '*/Migrations/*'
        - 'tests/bootstrap.php'

        # REMOVE
        - 'proAppointments/IdentityAccess/src/Infrastructure/Persistence/Doctrine/Config/Type/DoctrineUserIdType.php'
        - 'proAppointments/Schedule/src/Adapter/Out/Persistence/Doctrine/Config/Type/DoctrineAppointmentIdType.php'

        # issue #2
        - 'proAppointments/IdentityAccess/src/Domain/User/UserFactory.php'